*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.c1{
    display: flex;
    gap: 2vh;
}
.t1, .t2{
    background-color: #ffa437;
    width: 50%;
    height: 10vh
}
.lineNear{
    display: flex;
    flex-direction: column;
    justify-content: first-baseline;
    padding: 0 3vh;
    gap: 4vh;
}
.c2{
    background-color: #daec00;
    width: 100%;
    height: 40vh;
}
.c3{
    display: flex;
    gap: 1vh;
}

.t3, .t4, .t5{
    background-color: #4a89cf;
    width: 33%;
    height: 30vh;
}
.c4{
    display: flex;
    gap: 1vh;
}
.t6, .t7, .t8, .t9{
    background-color: #e3e3e3;
    width: 24.6%;
    height: 20vh;
}
@media screen and (max-width: 1200px) {
    .c1, .c3, .c4{
        flex-wrap: wrap;
    }
    .t1, .t2{
        width: 100%;
        height: 8vh
    }
    .c2{
        height: 30vh;
    }

    .t3, .t4, .t5{
        width: 100%;
        height: 10vh;
    }
    .t6, .t7, .t8, .t9{
        width: 49.6%;
        height: 30px;
    
    }
}

@media screen and(max-width: 768px) {
    .t3, .t4, .t5{
        height: 50vh;
    }
    .c4{
        flex-direction: column;
    }
    .t6, .t7, .t8, .t9{
        width: 100%;
        height: 30px;
    }
    
}
