*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.lineNear{
    display: flex;
    flex-direction: column;
    padding: 0 3vh;
    gap: 5vh;
}
.c1{
    display: flex;
    gap: 1vh;
}
.c2{
    background-color: yellow;
    width: 100%;
    height: 40vh;
}
.c3{
    display: flex;
    gap: 1vh;
}
.c4{
    display: flex;
    gap: 1vh;
}
.t1, .t2{
    background-color: orange;
    width: 50%;
    height: 10vh
}
.t3, .t4, .t5{
    background-color: midnightblue;
    width: 35%;
    height: 30vh;
}
.t6, .t7, .t8, .t9{
    background-color: whitesmoke;
    width: 25%;
    height: 20vh;
}
@media screen and (max-width: 1200px) {
    .c1, .c3, .c4{
        flex-wrap: wrap;
    }
    .t1, .t2{
        width: 100%;
        height: 10vh
    }
    .c2{
        height: 30vh;
    }

    .t3, .t4, .t5{
        width: 100%;
        height: 10vh;
    }
    .t6, .t7, .t8, .t9{
        width: 450%;
        height: 30px;
    }
}
@media screen and(max-width: 768px) {
    .t3, .t4, .t5{
        height: 50vh;
    }
    .c4{
        flex-direction: column;
    }
    .t6, .t7, .t8, .t9{
        width: 100%;
        height: 30px;
    } 
}
